.page{
    padding:30px;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

button{
    margin-top:20px;
    padding:12px 25px;
    background:#ff6b00;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}